body
{
    background: linear-gradient(to left, rgb(236, 152, 152),rgb(255, 255, 164));
}

.div1
{
    background-color: white;
    width: 450px;
    height: 750px;
    margin-top: 50px;
    margin-left: 455px;
    border-radius: 8px;
}

.h1
{
    font-family: sans-serif;
    position: absolute;
    margin-left: 70px;
    margin-top: 90px;
}

.span1
{
    margin-top: 50px;
}

.input1
{
    height: 25px;
    position: absolute;
    margin-top: 250px;
    margin-left: 135px;
    box-shadow: 3px 3px 1px rgb(190, 190, 190);
}

.input2
{
    height: 25px;
    position: absolute;
    margin-top: 350px;
    margin-left: 135px;
    box-shadow: 3px 3px 1px rgb(190, 190, 190);
}

.btn1
{
    margin-top: 450px;
    margin-left: 175px;
    width: 100px;
    height: 50px;
    cursor: pointer;
    border-radius: 6px;
    background-color: rgb(120, 255, 78);
    font-family: verdana;
    box-shadow: 1px 1px 2px rgb(2, 2, 2);
    position: absolute;
}
.btn1:hover
{
    background-color: rgb(16, 95, 16);
}

.a1
{
    
    position: absolute;
    margin-top: 565px;
    margin-left: 95px;
    font-family: verdana;
}

.a2
{
    position: absolute;
    margin-top: 625px;
    margin-left: 100px;
    font-family: verdana;
}